@tailwind base;
@tailwind components;
@tailwind utilities;

/* background-color: #242424; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @apply transition-colors duration-100;
}

.container {
    @apply w-[80%] sm:w-[80%] md:w-[90%] lg:max-w-[1400px] mx-auto;
}
